@import "../../../styles/utilities";

.connect-btn {
    @extend .sign-up-btn;
    font-size: 21px;
    width: 55%;
}

.connect-pend-btn {
    @extend .connect-btn;
    opacity: 0.3;
    cursor: not-allowed;
}