<div id="outside card" nz-row style="display: flex">
    <div nz-col nzSpan="3"></div>
    <nz-card class="card">
        <div class="connect" *ngIf="connectionExists">
            <button nz-button  (click)="submit()" class="connect-btn">connect</button>
        </div>
        <div id="first row" nz-row style="display: flex">
            <div nz-col nzSpan="5">
                <img *ngIf="avatarUrl" [src]="avatarUrl" class="profile-picture">
            </div>
            <div id="empty space" nz-col nzSpan="3"></div>
            <div id="name age location">
                <p class="name">{{ user.firstName }}</p>
                <p class="age">{{ user.age }}, {{ user.county }}</p>
            </div>
        </div>
        <div id="second row" nz-row>
            <div nz-col nzSpan="4"></div>
        </div>
        <div style="margin-top: 3%"></div>
        <div id="third row" nz-row style="display: flex">
            <div id="empty space" nz-col nzSpan="1"></div>
            <div>
                <p class="age">Bio</p>
            </div>
            <div id="empty space" nz-col nzSpan="4"></div>
            <div>
            </div>
            <div id="empty space" nz-col nzSpan="6"></div>
            <div>
                <p class="age">Interests</p>
            </div>
            <div id="empty space" nz-col nzSpan="1"></div>
            <div>
            </div>
        </div>
        <div id="fourth row" nz-row>
            <div id="empty space" nz-col nzSpan="1"></div>
            <div nz-col nzSpan="5">
                <p class="bio">{{ user.description }} </p>
            </div>
            <div id="empty space" nz-col nzSpan="6"></div>
            <div nz-col nzSpan="3">
                <ul>
                    <li *ngFor="let interest of user.interests" class="bio"> {{interest}} </li>
                </ul>
            </div>
        </div>
    </nz-card>
    <div nz-col nzSpan="3"></div>
</div>
