<h1 class="title">About Ride or Die</h1>
<div> 
    <p>Here at Ride or Die our aim is to help people who are a little older, or maybe haven't dated in awhile by bringing them together.
        Everyone deserves a to have someone to love and in a lot of causes people have lost loved ones. Our
        goal is to find these people someone new to love with similar interest to them so they can enoy the rest of their lives. </p>
    <div id="empty space" nz-row nzSpan="3"></div>
    &nbsp;
    <p>We were founded in 2020 and have set up successful relationships for many couples already all over Ireland.</p>
    <div id="empty space" nz-row nzSpan="3"></div>
    &nbsp;
    <p class="join">Get your second chance at love and join now.</p>
    <div *nzModalFooter class="btn">
        <p></p>
    </div>
</div>

