@import "../../styles/variables";
@import "../../styles/utilities";

html{
    background-color: blue !important;
}

.title {
    color: $red;
    font-weight: bold;
    font-size: 120px;
    margin: 0;
}

.tagline {
    color: $red;
    font-weight: bold;
    font-size: 45px;
    margin: 0;
    
}

.side-panel {
    background-color: white;
    height: 100vh;
    width: 30%;
}

.main-screen {
    width: 70%;
}

.login {
    color: $red;
    font-weight: bold;
    font-size: 60px;
    margin: 0;
    display: flex;
    margin-left: 5rem;
}

.login-input {
    margin-left: 5rem;
    width: 11rem;
    margin-bottom: 1rem;
}



.sign-up {
    margin-left: 5rem;
    cursor: pointer;
    text-decoration: underline;
}