<h1 class="title">Contact Us</h1>
<div>
    <p class="heading">Call:</p>
    <p> No dedicated personal at this time so please email</p>
    <div id="empty space" nz-row nzSpan="3"></div>
    &nbsp;
    <p class="heading">Email:</p>
    <p>17222578@studentmail.com</p>
    <div id="empty space" nz-row nzSpan="3"></div>
    &nbsp;
    <p class="end">Thanks for showing interest in Ridde or Die we look forward to hearing from you.</p>
    <div *nzModalFooter class="btn">
        <p></p>
    </div>
</div>
