@import "../../styles/variables";
@import "../../styles/utilities";

.title {
    color: $red;
    font-size: 140%;
    text-align: center;
}

.heading {
    color: $red;
    font-size: 120%;
}

.end {
    text-align: center;
    font-style: italic;
}