@import "../styles/variables";

.card-title {
    font-weight: 600;
    color: $red;
    font-size: 200%
}

.card {
    background-color: $lightPink;
    border-color: $red;
    border-radius: 8px;
    border-width: 1px;
}

.ant-card-body {
    width: auto;
}

.form-field {
    width: 11rem;
}

.sign-in {
    margin-left: 5rem;
    background-color:$red;
    color: white;
    width: 11rem;
    margin-bottom: 1rem;
}

.sign-up-btn {
    background-color: $red;
    color: white;
    width: 50%;
    font-size: 20px;
}

.dropdown {
    width: 7rem;
}

.btn {
    display: flex;
    place-content: center;
}

.profile-picture {
    width: 100%;
    height: 100%;
}

.name {
    @extend .card-title;
    font-size: 400%;
}

.age {
    @extend .card-title;
    font-size: 200%;
}

p {
    margin: 0;
}

.edit {
    color: $red;
    font-weight: 500;
}

.bio {
    color: black;
    font-weight: 500;
}