@import "../styles/variables";

.card-title {
    font-weight: 600;
    color: $red;
    font-size: 200%
}

.card {
    background-color: $lightPink;
    border-color: $red;
    border-radius: 8px;
    border-width: 1px;
}

.ant-card-body {
    width: auto;
}

