<div nz-row>
    <div nz-col nzSpan="3"></div>
    <div nz-col nzSpan="15">
        <nz-card class="card">
            <div id="first row">
                <p class="card-title">All Users</p>
                <div nz-row>
                    <div *ngFor="let user of users" class="test">
                        <div nz-col nzSpan="6" [routerLink]="['/user', { id: user.uid }]" style="cursor: pointer">
                            <div>
                                <img src="{{ user.profilePic }}" class="search-pic">
                            </div>
                            <div>
                                <p class="details">{{ user.firstName }}</p>
                                <p class="details"> {{ user.age }}, {{ user.county }}</p>
                            </div>
                        </div>
                        <div nz-col nzSpan="1"></div>
                    </div>
                </div>
            </div>
        </nz-card>
    </div>
    <div nz-col nzSpan="3"></div>
</div>
