@import "../../styles/utilities";

.first-row {
    display: flex;
}

.messages {
    @extend .card;
    width: 2rem;
}

.message {
    color: white;
    width: 10rem;
    height: 8rem;
}

.send {
    @extend .sign-up-btn;
    width: auto
}