@import "../../styles/utilities";

.first-row {
    display: flex;
}

.messages {
    @extend .card;
    width: 2rem;
}

.message {
    color: white;
    width: fit-content;
    border-radius: 15px;
    float: right;
    clear: right;
}

.other {
   @extend .message;
    background-color: $darkPink;
    float: left;
    clear: right;
}
.send {
    @extend .sign-up-btn;
    width: auto
}

.message-box {
    width: 60%;
    height: 40%;
}

.center {
    align-self: center;
}

.convo-box {
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.black-text {
    color: black;
    font-size: 75%;
}