<div id="first-row" nz-row>
    <div nz-col nzSpan="3"></div>
    <div nz-col nzSpan="15">
    <nz-card class="card">
        <div id="first row">
            <p class="card-title">Select a connection to message</p>
            <div *ngFor="let user of users" (click)="onClick(user)" style="display: inline-flex">
                <div>
                    <img class="search-pic" src= "{{ user.profilePic }}">
                    <p class="details">{{ user.firstName | titlecase }}</p>
                </div>
                &nbsp;
                &nbsp;
            </div>
            <div *ngIf=userSelected style="display: flex;">
                <div>
                    <i nz-icon (click)="goBack()">
                        <img src="https://firebasestorage.googleapis.com/v0/b/cs4116-group4-dating.appspot.com/o/icons%2Fvectorpaint.svg?alt=media&token=73b776df-8260-4254-9a19-e50aeebcf662"  class="icon" />
                    </i>
                    <p class="details">Go Back</p>
                </div>
                &nbsp;
                &nbsp;
                &nbsp;
                <div>
                    <img class="search-pic" src= "{{ receiver.profilePic }}">
                    <p class="details">{{ receiver.firstName }}</p>
                </div>
            </div>
        </div>
    </nz-card>
    </div>
    <div nz-col nzSpan="3"></div>
</div>

<div style="margin-top: 3%"></div>

<div id="second-row" nz-row>
    <div nz-col nzSpan="3"></div>
    <div nz-col nzSpan="15">
        <nz-card class="card" *ngIf=userSelected>
            <div id="second row" class="convo-box">
                <p class="card-title">Conversation</p>
                <div *ngFor="let message of messages">
                    <nz-card [ngClass]="{'message': message.sendSelf===true, 'other': message.sendSelf===false}">
                        <p class="details"> {{ message.message }} </p>
                        <p class="black-text">{{ message.timeSent | date:'short'}}</p>
                    </nz-card>
                </div>
            </div>
            <hr>
            <div id="third row">
                <p class="card-title">Message</p>
                <div style="display: flex" nz-row>
                    <textarea class="message-box" [(ngModel)]="message" (keydown)="handleSubmit($event)"></textarea>
                    &nbsp;
                    <div class="center">
                        <button nz-button class="send" (click)="send()">Send</button>
                    </div>
                </div>
            </div>
        </nz-card>
    </div>
    <div nz-col nzSpan="3"></div>
</div>