@import "../../../../../styles/utilities";

.interest-dropdown {
    width: 15rem;
}

.avatar {
    width: 128px;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
    
  }
  .upload-icon {
    font-size: 32px;
    color: #999;
  }
  .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }