@import "../../../styles/variables";
@import "../../../styles/utilities";

.sign-up {
    color: $red;
    font-weight: bold;
    font-size: 60px;
    margin: 0;
    display: flex;
}

.form-label {
    display: flex;
    color: black;
    font-weight: bold;
}

.text-area {
    width: 11rem;
    height: 4rem;
    margin-right: 3rem;
}

.sign-up-btn {
    background-color: $red;
    color: white;
    width: 50%;
    font-size: 20px;
}

.avatar {
    width: 128px;
    height: 128px;
  }
  .upload-icon {
    font-size: 32px;
    color: #999;
  }
  .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }