<div id="outside card" nz-row style="display: flex">
    <div nz-col nzSpan="3"></div>
    <nz-card class="card">
        <div id="first row" nz-row style="display: flex">
            <div nz-col nzSpan="5">
                <img src = "{{ newUser.profilePic }}" class="profile-picture">
            </div>
            <div id="empty space" nz-col nzSpan="3"></div>
            <div id="name age location">
                <p class="name">{{ newUser.firstName | titlecase }}</p>
                <p class="age">{{ newUser.age }}, {{ newUser.county }}</p>
            </div>
        </div>
        <div id="second row" nz-row>
            <div nz-col nzSpan="4"></div>
            <button nz-button class="edit" nzType="default" nzShape="circle" (click)="editPictureComponent()"><i nz-icon nzType="edit"></i></button>
        </div>
        <div style="margin-top: 3%"></div>
        <div id="third row" nz-row style="display: flex">
            <div id="empty space" nz-col nzSpan="1"></div>
            <div>
                <p class="age">Bio</p>
            </div>
            <div id="empty space" nz-col nzSpan="4"></div>
            <div>
                <button nz-button class="edit" nzType="default" nzShape="circle" (click)="editBioComponent()"><i nz-icon nzType="edit"></i></button>
            </div>
            <div id="empty space" nz-col nzSpan="6"></div>
            <div>
                <p class="age">Interests</p>
            </div>
            <div id="empty space" nz-col nzSpan="1"></div>
            <div>
                <button nz-button class="edit" nzType="default" nzShape="circle" (click)="createInterestsComponent()"><i nz-icon nzType="edit"></i></button>
            </div>
        </div>
        <div id="fourth row" nz-row>
            <div id="empty space" nz-col nzSpan="1"></div>
            <div nz-col nzSpan="5">
                <p class="bio">{{ newUser.description }}</p>
            </div>
            <div id="empty space" nz-col nzSpan="6"></div>
            <div nz-col nzSpan="3">
                <ul>
                    <li *ngFor="let interest of newUser.interests" class="bio"> {{ interest }} </li>
                </ul>
            </div>
        </div>
    </nz-card>
    <div nz-col nzSpan="3"></div>
</div>
