@import "../../styles/utilities";
@import "../../styles/variables";

.search {
    @extend .sign-in;
    margin-left: 0;
    font-size: 130%;
    width: 6rem;
}

.disableAcc-btn {
    @extend .sign-in;
    margin-left: 0;
    font-size: 130%;
    width: 12rem;
}

.search-title {
    color: black;
    font-size: 140%
}