@import "../../styles/utilities";
@import "../../styles/variables";

.search {
    @extend .sign-in;
    margin-left: 0;
    font-size: 150%;
    width: 7rem;
}

.details {
    color: $red;
    font-weight: 500;
}

.search-title {
    color: black;
    font-size: 140%
}

.test {
    display: inline-flex;
}