<div nz-row>
    <div nz-col nzSpan="3"></div>
    <div id="first card" nz-col nzSpan="15">
        <nz-card class="card" > 
            <div id="first row">
                <p class="card-title">What are you looking for?</p>
            </div>
            <div nz-row id="second row" style="display: flex">
                <div>
                    <p class="search-title">Gender</p>
                </div>
                <div id="empty space" nz-col nzSpan="3"></div>
                <div>
                    <p class="search-title">Age Range</p>
                </div>
                <div nz-col nzSpan="1"></div>
                <div>
                    <p class="search-title">Interests</p>
                </div>
                <div nz-col nzSpan="2"></div>
                <div>
                    <p class="search-title">County</p>
                </div>
            </div>
            <div nz-row id="third row" style="display: flex">
                <div>
                    <nz-select class="dropdown" nzPlaceHolder="gender" [(ngModel)]="filter.gender">
                        <nz-option *ngFor="let gender of genders" [nzValue]="gender" [nzLabel]="gender"></nz-option> 
                    </nz-select>
                </div>
                <div id="empty space" nz-col nzSpan="1"></div>
                <div>
                    <nz-select class="dropdown" nzPlaceHolder="age range" [(ngModel)]="filter.ageRange">
                        <nz-option *ngFor="let range of ranges" [nzValue]="range" [nzLabel]="range"></nz-option> 
                    </nz-select>
                </div>
                <div id="empty space" nz-col nzSpan="1"></div>
                <div>
                    <nz-select class="dropdown" nzPlaceHolder="interests" [(ngModel)]="filter.interests">
                        <nz-option *ngFor="let interest of interests" [nzValue]="interest" [nzLabel]="interest"></nz-option> 
                    </nz-select>
                </div>
                <div id="empty space" nz-col nzSpan="1"></div>
                <div>
                    <nz-select class="dropdown" nzPlaceHolder="location" [(ngModel)]="filter.county">
                        <nz-option *ngFor="let county of counties" [nzValue]="county" [nzLabel]="county"></nz-option> 
                    </nz-select>
                </div>
                <div id="empty space" nz-col nzSpan="1"></div>
                <div>
                    <button nz-button class="search" (click)="search()">Search</button>
                </div>
                &nbsp;
                <div>
                    <button nz-button class="search" (click)="reset()">Reset</button>
                    
                </div>
            </div>
            <div id="empty space" nz-col nzSpan="12"></div>
            <div id="hi" *ngIf="admin">
                <button nz-button class="sign-up-btn" (click)="getDisabled()">Disabled Accounts</button>
            </div>
        </nz-card>
    </div>
    <div nz-col nzSpan="3"></div>
</div>

<div style="margin-top: 5%"></div>

<div nz-row>
    <div nz-col nzSpan="3"></div>
    <div nz-col nzSpan="15">
        <nz-card class="card">
            <div id="first row">
                <p class="card-title">Users</p>
                <div *ngFor="let user of searchArray" style="display: inline-flex;">
                    <div [routerLink]="['/user', { id: user.uid }]" style="cursor: pointer">
                        <div>
                            <img src="{{ user.profilePic }}" class="search-pic">
                        </div>
                        <div>
                            <p class="details">{{ user.firstName | titlecase}}</p>
                            <p class="details"> {{ user.age }}, {{ user.county }}</p>
                        </div>
                    </div>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                </div>
                <p class="notif-text" *ngIf=noResults>No users to display</p>
            </div>
        </nz-card>
    </div>
    <div nz-col nzSpan="3"></div>
</div>