@import "../../styles/utilities";

.home-card {
    @extend .card;
    min-width: 10rem;
}

.details {
    color: black;
}

.notif-text {
    color: $red;
    font-weight: 500;
    font-size: larger;
}

.connect-flex {
    display: inline-flex;
}