@import "../../styles/utilities";

.first-row {
    display: flex;
}

.notifcations-card {
    @extend .card;
    width: 10rem;
}

.messages {
    @extend .card;
    width: 2rem;
}

.message {
    color: black;
    width: 10rem;
    height: 8rem;
}

.details {
    color: black;
}
