<div id="row 1" style="display: flex" nz-row>
    <div id="empty space" nz-col nzSpan="2"></div>
    <div nz-col nzSpan="6">
        <nz-card class="home-card">
            <p class="card-title">connections</p>
            <div *ngFor="let connect of users" style="display: inline-flex">
                <div>
                    <img class="search-pic" src= "{{ connect.profilePic }}">
                    <p class="notif-text">{{ connect.firstName | titlecase }}</p>
                </div>
                &nbsp;
                &nbsp;
            </div>
        </nz-card>
    </div>
    <div id="empty space" nz-col nzSpan="3"></div>
    <div nz-col nzSpan="6">
        <nz-card class="home-card">
            <p class="card-title">notifications</p>
            <div *ngFor="let notification of notifications">
                <p class="notif-text">{{ notification.notification }}</p>
                <button nz-button (click)="accept()" class="sign-up-btn">accept</button>
                <button nz-button (click)="reject()" class="sign-up-btn">reject</button>
            </div>
        </nz-card>
    </div>
</div>
<div id="space between 2 rows" style="margin-top: 5%"></div>
<div id="row 2" style="display: flex" nz-row>
    <div id="empty space" nz-col nzSpan="2"></div>
    <div nz-col nzSpan="6">
        <nz-card class="home-card">
            <p class="card-title">suggested users</p>
        </nz-card>
    </div>
</div>