<div id="row 1" style="display: flex" nz-row>
    <div id="empty space" nz-col nzSpan="2"></div>
    <div nz-col nzSpan="6">
        <nz-card class="home-card">
            <p class="card-title">Connections</p>
            <div *ngFor="let connect of users" [routerLink]="['/user', { id: connect.uid }]" class="point-wrap">
                <div>
                    <img class="search-pic" src= "{{ connect.profilePic }}">
                    <p class="notif-text">{{ connect.firstName | titlecase }}</p>
                </div>
                &nbsp;
                &nbsp;
            </div>
            <div *ngIf="users.length == 0">
                <p class="notif-text">No connections to display.</p>
            </div>
        </nz-card>
    </div>
    <div id="empty space" nz-col nzSpan="3"></div>
    <div nz-col nzSpan="6">
        <nz-card class="home-card">
            <p class="card-title">Notifications</p>
            <div *ngFor="let notification of notifications let i = index" [attr.data-index]="i">
                <p class="notif-text">{{ notification.notification }}</p>
                <button nz-button (click)="accept(notification.connectionId, i)" class="sign-up-btn">Accept</button>
                <button nz-button (click)="reject(notification.connectionId, i)" class="sign-up-btn">Reject</button>
            </div>
            <div *ngFor="let messageNotification of messageNotifications let i = index" [attr.data-index]="i">
                <p class="notif-text">{{ messageNotification.notification }}</p>
                <button nz-button (click)="discardedNotification(i)" class="sign-up-btn">Discard</button>
            </div>
            <div *ngIf="notifications.length === 0 && messageNotifications.length === 0">
                <p class="notif-text">No notifications to display.</p>
            </div>
        </nz-card>
    </div>
</div>
<div id="space between 2 rows" style="margin-top: 5%"></div>
<div id="row 2" style="display: flex" nz-row>
    <div id="empty space" nz-col nzSpan="2"></div>
    <div nz-col nzSpan="6">
        <nz-card class="home-card">
            <p class="card-title">Suggested users</p>
            <div *ngFor="let user of suggestedUsers" [routerLink]="['/user', { id: user.uid }]" class="point-wrap">
                <div>
                    <img src="{{ user.profilePic }}" class="search-pic">
                    <p class="notif-text">{{ user.firstName | titlecase}}</p>
                    <p class="details"> {{ user.age }}, {{ user.county }}</p>
                </div>
                &nbsp;
                &nbsp;
            </div>
            <div *ngIf="suggestedUsers.length == 0">
                <p class="notif-text">No suggested users to display.</p>
            </div>
        </nz-card>
    </div>
</div>