@import "../../styles/utilities";

.first-row {
    display: flex;
}

.notifcations-card {
    @extend .card;
    width: 10rem;
}

.details {
    color: black;
}

.notif-text {
    color: $red;
    font-weight: 500;
    font-size: larger;
}

.connect-pic {
    width: 24px;
    height: 24px;
}