<div id="row 1" style="display: flex" nz-row>
    <div id="empty space" nz-col nzSpan="3"></div>
    <div nz-col nzSpan="6">
        <nz-card class="card">
            <p class="card-title">connections</p>
        </nz-card>
    </div>
    <div id="empty space" nz-col nzSpan="5"></div>
    <div nz-col nzSpan="6">
        <nz-card class="card">
            <p class="card-title">notifications</p>
        </nz-card>
    </div>
</div>
<div id="space between 2 rows" style="margin-top: 5%"></div>
<div id="row 2" style="display: flex" nz-row>
    <div id="empty space" nz-col nzSpan="3"></div>
    <div nz-col nzSpan="6">
        <nz-card class="card">
            <p class="card-title">suggested users</p>
        </nz-card>
    </div>
</div>