@import "../../styles/variables";
@import "../../styles/utilities";

* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

.nav-container {
    background-color: $lightPink;
    height: 100vh;
}

.sider {
    background-color: $lightPink;
}

.content {
    background-color: $lightPink;
}

.nav-button {
    height: auto;
    outline: none;
    border-right: none;
    height: 10%;
    &:hover {
        background-color: $darkPink;
    }
}

.sidenav-label {
    color: $red;
    font-size: 16px;
    font-weight: 600; 
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: $darkPink;
    border-right: none;
}

.ant-menu-inline .ant-menu-item::after,
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after {
  border-right: none;
}

.footer {
    width: 100%;
    bottom: 0;
    color: $red;
    background-color: rgb(206, 203, 203);
    text-align: center;
    position: relative;
    height: 60px;
    margin-top: -60px;
    clear: both;
}

.info {
    color: $red;
    background-color: rgb(206, 203, 203);
    text-align: center;
    text-decoration: underline;
}

.container {
    min-height:100%;
    overflow: auto;
    padding-bottom: 60px;
}
