<nz-layout>
    <nz-sider class="sider" style='position:fixed;' *ngIf="authService.isAuthenticated()">
        <ul nz-menu nzMode='inline' class="nav-container">
            <li
                nz-menu-item
                *ngFor="let navItem of navItems"
                [routerLink]="navItem.routing"
                class="nav-button"
            >
                <div nz-row>
                    <div id="empty space" nz-col nzSpan="2"></div>
                        <i nz-icon>
                            <img src="{{ navItem.imgSrc }}"  class="icon" />
                        </i>
                        <span class="sidenav-label">{{ navItem.name }}</span>
                </div>
            </li>
        </ul>
    </nz-sider>
    <nz-layout class="content">
        <nz-content style='margin-left:10%; background-color:whitesmoke; height:100%'>
            <div class="component-container">
                <router-outlet> </router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>