@import "../../styles/variables";

.card {
    background-color: green;
}

.nav-container {
    background-color: $lightPink;
    height: 100vh;
}

.icon {
    width: 50px;
    height: 50px;
    fill: white;
}

.nav-button {
    height: auto;
    outline: none;
    border-right: none;
    height: 10%;
    &:hover {
        background-color: $darkPink;
    }
}

.sidenav-label {
    color: $red;
    font-size: 16px;
    font-weight: 600; 
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: $darkPink;
    border-right: none;
}

.ant-menu-inline .ant-menu-item::after,
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after {
  border-right: none;
}

.big-box {
    display: flex;
}

